<footer class="footer-16371" style="background-color: #c3dcde;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-9 text-center">
          <div class="footer-site-logo">
            <!-- <a href="#" style="color: #1F2E34;">Zaroon Kaleem</a> -->
          </div>
          <!-- <ul class="list-unstyled nav-links mb-5"> -->
            <!-- <li><a href="#"></a></li> -->
            <!-- <li><a href="">Contact</a></li> -->
            <!-- <li><a href="#">Services</a></li> -->
            <!-- <li><a href="#">Press</a></li> -->
            <!-- <li><a href="#">Careers</a></li> -->
            <!-- <li><a href="#">FAQ</a></li> -->
            <!-- <li><a href="#">Legal</a></li> -->
            <!-- <li><a href="#">Contact</a></li> -->
          <!-- </ul> -->

          <div class="social mb-4">
            <h3>Stay in touch</h3>
            <h3>With</h3>
            <h2 class="fw-bold">Zaroon Kaleem</h2>
            <ul class="list-unstyled">
              <!-- <li class="in"><a href="#"><span class="icon-instagram"></span></a></li> -->
              <li class="link facebook"><a href="https://m.facebook.com/mianzaroon.kaleem/" target="_blank"><i class="fa-brands fa-facebook facebook"></i></a></li>
              <li class="link github"><a href="https://github.com/ZaroonKaleem" target="_blank"><i class="fa-brands fa-github github"></i></a></li>
              <li class="link linkedin"><a href="https://www.linkedin.com/in/zaroon-kaleem-a53006263/" target="_blank"><i class="fa-brands fa-linkedin linkedin"></i></a></li>
              <li class="link whatsapp"><a href="https://wa.me/03010779002?text=Hello%20I%20would%20like%20to%20discuss%20a%20project%20with%20you" target="_blank"><i class="fa-brands fa-whatsapp whatsapp"></i></a></li>
              <li class="link upwork"><a href="https://www.upwork.com/freelancers/~01a42b851032ef54dd" target="_blank"><i class="fa-brands fa-square-upwork upwork"></i></a></li>
              <!-- <li class="fb"><a href="#"><span class="icon-facebook"></span></a></li> -->
              <!-- <li class="tw"><a href="#"><span class="icon-twitter"></span></a></li>
              <li class="pin"><a href="#"><span class="icon-pinterest"></span></a></li>
              <li class="dr"><a href="#"><span class="icon-dribbble"></span></a></li> -->
            </ul>
          </div>

          <div class="copyright">
            <p class="mb-0"><small>&copy; Zaroon Kaleem. All Rights Reserved.</small></p>
          </div>


        </div>
      </div>
    </div>
  </footer>
