
<header class="bg-light py-3">
    <div class="container">
        <div class="row align-items-center">
            <!-- Logo -->
            <div class="col-6 col-md-4">
                <div class="logo">
                    <a href="/home">
                        <img src="assets/logo.jpeg" alt="Logo" class="img-fluid"> <!-- Replace 'logo.png' with your logo image -->
                    </a>
                </div>
            </div>
            <!-- Header Buttons -->
            <div class="col-6 col-md-8 d-flex justify-content-end align-items-center">
                <a style="font-size: 3rem;" routerLink="/home" class="btn-link px-3" style="cursor: pointer; color: #1F2E34;"><i style="font-size: 1.5rem;" class="fa-solid fa-xmark"></i></a>
            <a routerLink="/home" class="btn-link px-3" style="cursor: pointer;"><i style="font-size: 1.5rem; color:#1F2E34;" class="fa-solid fa-house"></i></a>
            </div>
        </div>
    </div>
</header>
