.container {
    margin-top: -90px;
  }
  
  .card {
    height: 500px;
    border: none;
    border-radius: 10px;
    background-color: #f8f9fa;
    padding: 20px;
  }
  
  .icon {
    width: 50px;
    height: 50px;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .card-body ul {
    list-style: none;
    padding: 0;
  }
  
  .card-body ul li {
    font-size: 1rem;
    color: #666;
  }
  
  .card-body h5 {
    /* color: #6b5b95; */
    color: #426e78;
    font-weight: bold;
    margin-top: 15px;
  }
  
  .shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  









 

  .circle-container img {
    width: 60px; /* Adjust the size as needed */
    height: 60px; /* Adjust the size as needed */
    object-fit: cover; /* Ensure the image covers the circle without distortion */
  }