<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card shadow">
          <div class="card-body text-center">
            <div class="circle-container">
                <img src="assets/designer.png" alt="Designer Icon" class="icon mb-3">
              </div>
            <h3 class="card-title">Designer</h3>
            <p>I value simple content structure, clean design patterns, and thoughtful interactions.</p>
            <h5>Things I enjoy designing:</h5>
            <ul>
              <li>UX, UI, Web, Apps, Logos, Posters</li>
            </ul>
            <h5>Design Tools:</h5>
            <ul>
              <li>Photoshop</li>
              <li>Figma</li>
              <li>Pen & Paper</li>
              <li>Sketch</li>
              <li>Illustrator</li>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card shadow">
          <div class="card-body text-center">
            <div class="circle-container">
                <img src="assets/frontend.png" alt="Frontend Developer Icon" class="icon mb-3">
            </div>
            <h3 class="card-title">Frontend Development</h3>
            <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
            <h5>Languages I speak:</h5>
            <ul>
              <li>HTML, CSS, JS, Git</li>
            </ul>
            <h5>Dev Tools:</h5>
            <ul>
              <!-- <li>Angular</li> -->
              <li>Bootstrap</li>
              <!-- <li>Bulma</li> -->
              <!-- <li>Codekit</li> -->
              <li>GitHub</li>
              <li>Netlify</li>
              <li>Tailwind CSS</li>
              <li>VS Code</li>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card shadow">
          <div class="card-body text-center">
            <div class="circle-container">
                <img src="assets/backend.png" alt="Mentor Icon" class="icon mb-3">
            </div>
            <h3 class="card-title">Backend Development</h3>
            <p>I genuinely care about people and enjoy helping them work on their craft.</p>
            <h5>Languages I speak:</h5>
            <ul>
              <li>UX/UI, Product design, Freelancing</li>
            </ul>
            <h5>Dev Tools:</h5>
            <ul>
              <!-- <li>VS Code</li> -->
              <li>Node JS</li>
              <li>Express JS</li>
              <!-- <li>NPM</li> -->
              <li>MongoDB</li>
              <li>SSMS</li>
              <li>Visual Studio</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  