<app-header></app-header>
<div class="container text-center col-md-12">
  <div class="row col-md-12 mt-5">
    <h1 class="display-5 fw-bold" style="font-size: 3.5rem;color: #1F2E34;">Full Stack Developer & Designer</h1>
  </div>
  <div class="row col-md-12 mt-3">
    <p class="display-6" style="font-size: 1.7rem;"><i>Crafting digital experiences with passion, precision, and purpose.</i></p>
  </div>
  <img src="assets/developer-vector-2.png" width="50%" alt="Profile Image" class="profile-image img-fluid">
</div>

<br><br>

<app-about></app-about>
<br><br><br>
<app-skill-details></app-skill-details>
<br><br><br>
<hr>

<div id="work-section" #workSection>
  <app-work #work></app-work>
</div>
  <app-testimonials></app-testimonials>

